  
    <div class="row">
        <div class="">
            <form method="post" action="/url/create">
                <div class="mb-3">
                <label for="url" class="form-label">Enter your URL</label>
                <input type="url" required class="form-control" name="url" id="url" placeholder="http://" >            
                </div>
                
                <button type="submit" class="btn btn-primary">Shorten</button>
            </form>
        </div>
    </div>
